# model
openai~=1.37
transformers[sentencepiece]~=4.42,<4.50
jinja2~=3.1.0
# networking
# neon-llm-core[chatbots]~=0.2
neon-llm-core[chatbots] @ git+https://github.com/neongeckocom/neon-llm-core@FEAT_HealthChecks#egg=neon-llm-core
neon-utils[sentry]~=1.12,>=1.12.2a2
ovos-utils~=0.0,>=0.0.32
ovos-config~=0.1
